
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    
}

/*           CONTENT INDEX                      */

.imgText{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.imgText p{
    margin-right: 10%;
    margin-top: 8%;
    font-family: verdana, arial, helvetica;
    font-size: 1.5rem;
    word-spacing: 0.25em;
}


.grid{
    display: grid;
    grid-template-areas:
    "header header header "
    "main main main"
    "footer footer footer ";
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}

header{
    grid-area: header;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    grid-area: section;
}

footer{
grid-area: footer;
}
/*                  MENU LINK                      */


nav{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.menu{
    background-color: rgb(60, 18, 118);
    list-style-type: none;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
}

.menu .icon{
    grid-column: 4/4;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    grid-column: 1/3;
    margin: 0px;
    padding: 0px;

}
.menu li{
    
    list-style: none;
}
.icon{
    margin-left: 20%;
}

.menu li a{
    text-decoration: none;
    display: inline-block;
    color:white;
    font-size: large;
    font-size: 1.4rem;

}

.menu li:hover{
    background-color: rgb(60, 18, 118);
}

.menu li a:hover{
    color:grey;
}



h2{
    text-align: center;
    margin-top: 2%;
    font-size: 2rem;
}

/*                    CARD IMGS                      */

.imgCard{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;

}
.card{
    height:400px;
    background-image: url(../Imagenes/max.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:400px; 
    background-position-x: center;
    margin-top: 20px;
}

.cardDgt{
    background-image: url(../Imagenes/dgt.png);

}
.cardLuken{
    background-image: url(../Imagenes/luken.jpg);
}
.cardRox{
    background-image: url(../Imagenes/rox.jpg);
    
}
.cardDavid{
    background-image: url(../Imagenes/david.jpg);
}
.card-icon{
    font-size: 22px;
    text-align: center;
    margin-top: 5%;
    color:rgb(60, 18, 118);
    margin-right: 5%;
}

.card-icon a{
    margin-left: 2rem;
    color:rgb(60, 18, 118);
}

article{
    border-bottom: 1px ridge  grey;
    border-left: 1px ridge rgb(207, 202, 202);
    border-top: 1px ridge rgb(207, 202, 202);
    box-shadow: 5px 5px 10px rgb(60, 18, 118);
    border-radius: 4%;
    margin-top: 2%;
    margin-left: 2%;
}

.card-body{
    padding: 20px;
    
}
.card-subtitle{
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 1.5%;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:black;
}
.statics{
    text-decoration: none;
}

/*              CARD MOUSEOVER             */

.mouseover-body:hover{
    background-color: rgb(60, 18, 118);
    color:white;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.mouseover-body:hover a{
    color:white;
}

.mouseover-body:hover .card-subtitle {
    color:white;
}


/*                    FOOTER                       */

.content-footer{
    background-color:rgb(17, 14, 20);
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.menu-footer{
  margin: 0px;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 1%;
}
.menu-footer a{
    text-decoration: none;
    display: inline-block;
    color:white;
    padding: 0.5rem;
    font-size: x-large;
}
.redesFooter{
    padding-top: 3%;
    margin-right: 10%;
}
.redesFooter a{
    text-decoration: none;
    display: inline-block;
    color:rgb(248, 232, 232);
    padding: 0.5rem;
    font-size: large;
    
}
.menu-footer a:hover{
    color:grey;
}
.redesFooter a:hover{
    color:grey;

}

/*         GRID      */

main{
    grid-area: main;
}

main h1{
    margin-bottom: 2%;
}
.content-grid{
    display: flex;
    margin-top: 2%;
    justify-content:flex-start;

}
.grid-date{
    width: 300px;
    height: 100px;
    background-color: rgb(60, 18, 118);
    margin-left: 0.5%;   
}

.grid-icon{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.grid-team{
    width: 300px;
    height: 100px;
    background-color: rgb(216, 113, 113);
    border-left: 10px solid rgb(172, 33, 33); 
}

.grid-span{
    font-size: 1.7rem;
    margin-top: 13%;
    margin-left: 5%;
    color:white;
}

.gridVS{
    width: 220px;
    height: 100px;
    background-color: rgb(60, 18, 118);
    border-left: 10px solid rgb(172, 33, 33);
    color:white; 
}

.grid-span-vs{
    font-size: 3rem;
    margin-top: 13%;
    text-align: center;
    vertical-align: center;
}

h3{
    font-size: 1.6rem;
}

/*  formulario contacto */ 

.formContact{
    width: 800px;
    padding: 30px;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    margin:auto;
    font-family: 'calibri';
    color:white;
}

.formContact h4{
    font-size: 22px;
    margin-bottom: 4%;
}
.controls{
    width: 100%;
    background: rgb(60, 18, 118);
    padding: 0.8rem;
    border-radius: 4px;
    margin-bottom:2%;
    border:1px solid rgb(60, 18, 118);
    font-size: 1.1rem;
    font-family: 'calibri';
    color:white;
}

.formContact .buttons{
    width: 100%;
    background: rgb(60, 18, 118);
    border:none;
    padding: 1rem;
    color:white;
    margin-bottom: 2%;
    font-size: 0.9rem;
}

.player-static{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    width: 600px;
    justify-content: space-around;
    height: 300px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgb(60, 18, 118);

}

.colum-static{
    display: flex;
    flex-direction: column;
}
.player-static label{
    margin-top: 5%;
    font-size: 1.7rem;
}

.colum-static-dmg label{
    display: flex;
    flex-direction: column;
    margin-top: 17%;
    font-size: 1.7rem;
}

textarea{
    resize: none;
}

/*       CARDS IFRAMES            */

.body-iframes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: flex-start;
}

.card-iframes{
    margin-left: 2%;
}

.content-iframes{
    border:5px solid rgb(60, 18, 118);
    box-shadow: 2px 2px 20px rgb(60, 18, 118);
}

 /*                              MEDIA QUERIES                                      */   

@media only screen and (max-width: 1400px){


    .menu ul{
        display: flex;
        justify-content: space-around;
        grid-column: 1/4;
    
    }
    .menu .icon{
        grid-column: 5;
    }

}

@media only screen and (max-width: 1300px){


    .menu{
        background-color: rgb(60, 18, 118);
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(6,auto);
        align-items: center;
    }
    .menu ul{
        display: flex;
        justify-content: space-around;
        grid-column: 1/4;
    
    }
    .menu .icon{
        grid-column: 5;
    }
    .imgCard{
        margin: 0;
    }
    .imgText{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .imgText p{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1024px){

    .grid{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(3,auto);
    }
    .card-body{
        text-align: center;
    }
    .card{
        width: 300px;
        
    }

    .imgText{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .imgText p{
        margin-left: 5%;
    }

.menu{
    background-color: rgb(60, 18, 118);
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6,auto);
    align-items: center;
}
    .menu ul{
        display: flex;
        justify-content: space-around;
        grid-column: 1/5;
    
    }
    .menu .icon{
        grid-column: 7;
    }

    .grid-date{
        width: 230px;
        height: 100px;
    }
    .grid-team{
        width: 230px;
        height: 100px;
    }
    .gridVS{
        width: 150px;
        height: 100px;
    }
}

@media only screen and (max-width: 860px){
    .card{
        width: 300px;
        
    }
    .grid-date{
        width: 200px;
        height: 100px;
    }
    .grid-team{
        width: 200px;
        height: 100px;
    }
    .gridVS{
        width: 120px;
        height: 100px;
    }
    .formContact{
        width: 700px;
        padding: 15px;
    }
}

@media only screen and (max-width:725px){
    .imgCard{
        justify-content: center;
    }
    .card{
        width: 400px;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .grid-date{
        width: 150px;
        height: 100px;
    }
    .grid-team{
        width: 150px;
        height: 100px;
    }
    .gridVS{
        width: 100px;
        height: 100px;
    }
    .content-grid{
        display: flex;
        margin-top: 2%;
        justify-content:flex-start;
    }
    .grid-span-vs{
        font-size: 2rem;
        margin-top: 40%;
    }
    .grid-span{
        font-size: 1.5rem;
    }
    .formContact{
        width: 600px;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px){
    .imgCard{
        justify-content: center;
    }
    .card{
        width: 250px;
        height:250px;
    }

    .menu{
        background-color: rgb(60, 18, 118);
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,auto);
    }
    .menu ul{
        display: flex;
        flex-direction: column;
    }
    .menu ul li{
        grid-row: 1;
        grid-column: 1/2;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .menu .icon{
        grid-row: 1;
        grid-column: 1/3;
        margin:0;
        
    }
    .grid-date{
        width: 130px;
        height: 100px;
    }
    .grid-team{
        width: 130px;
        height: 100px;
    }
    .gridVS{
        width: 80px;
        height: 100px;
    }
    .content-grid{
        display: flex;
        margin-top: 2%;
        justify-content:flex-start;
    }
    .grid-span-vs{
        font-size: 2rem;
        margin-top: 40%;
    }
    .grid-span{
        font-size: 1.5rem;
    }
    .imgText p{
        font-size: 1rem;
    }
    .content-iframes{
        width: 450px;
    }
    .formContact{
        width: 500px;
        padding: 15px;
    }
}

@media only screen and (max-width: 480px){
    .grid-date{
        width: 100px;
        height: 100px;
    }
    .grid-team{
        width: 100px;
        height: 100px;
    }
    .gridVS{
        width: 50px;
        height: 100px;
    }
    .content-grid{
        display: flex;
        margin-top: 2%;
        justify-content:flex-start;
    }
    .grid-span-vs{
        font-size: 2rem;
        margin-top: 40%;
    }
    .grid-span{
        font-size: 1.5rem;
    }
    .grid-span-vs{
        font-size: 1.5rem;
        margin-top: 80%;
    }
    .grid-span{
        font-size: 1.5rem;
        margin-top: 40%;
    }
    h3{
        margin-top: 2%;
    }
    .formContact{
        width: 400px;
        padding: 7.5px;
    }
    .player-static{
        width: 400px;
    }
    .imgText p{
        font-size: 0.6rem;
    }

    .imgText img{
        width: 400px;
    }

    .content-iframes{
        width: 350px;
    }
    .formContact{
        width: 400px;
        padding: 15px;
    }
}
@media only screen and (max-width: 360px){
    .content-iframes{
        width: 250px;
        height: 250px;
    }
    .formContact{
        width: 300px;
        padding: 15px;
    }
}