main{
    h2{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 2rem;
    }
    .imgCard{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        flex-wrap: wrap;
        .statics{
            text-decoration: none;
            article{
                border-bottom: 1px ridge  grey;
                border-left: 1px ridge rgb(207, 202, 202);
                border-top: 1px ridge rgb(207, 202, 202);
                box-shadow: 5px 5px 10px rgb(60, 18, 118);
                border-radius: 4%;
                margin-top: 2%;
                margin-left: 2%;
            }
            .mouseover-body:hover{
                background-color: rgb(60, 18, 118);
                color:white;
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -ms-transform:scale(1.1);
                -o-transform:scale(1.1);
                transform:scale(1.1);
                .card-body{
                    padding: 20px;
                    .card-playerd{
                        height:400px;
                        background-image: url(../Imagenes/max.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        width:400px; 
                        background-position-x: center;
                        margin-top: 20px;
                    }
                    .cardDgt{
                        background-image: url(../Imagenes/dgt.png);
                    
                    }
                    .cardLuken{
                        background-image: url(../Imagenes/luken.jpg);
                    }
                    .cardRox{
                        background-image: url(../Imagenes/rox.jpg);
                        
                    }
                    .cardDavid{
                        background-image: url(../Imagenes/david.jpg);
                    }
                    .card-subtitle{
                        font-size: 1.9rem;
                        font-weight: bold;
                        margin-top: 1.5%;
                        text-align: center;
                        font-family: 'Indie Flower', cursive;
                        color:black;
                    }
                    .card-icon{
                        font-size: 22px;
                        text-align: center;
                        margin-top: 5%;
                        color:rgb(60, 18, 118);
                        margin-right: 5%;
                        a{
                            margin-left: 2rem;
                            color:rgb(60, 18, 118);
                            &:hover{
                                    color:white; 
                            } 
                        }
                    }
                    
                }
            }
        }
    }
}