main{
grid-area: main;
.imgText{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    p{
    
        margin-right: 10%;
        margin-top: 8%;
        font-family: verdana, arial, helvetica;
        font-size: 1.5rem;
        word-spacing: 0.25em;
    
    }
}

}